
$bodyFont: -apple-system,BlinkMacSystemFont,"Raleway",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$backgroundColor: #041c1c;
$bodyColor: #D1E8E2;
$accentColor1: #2C3531;
$accentColor2: #116466;
$accentColor3: #D9B08C;
$accentColor4: #FFCB9A;
$accentColor5: #454545;



body {
  background: $backgroundColor;
  padding: 10px;
  margin: 10px;
  color: $bodyColor;
  font-family: $bodyFont;
}
.home {
  background: $accentColor1;
  font-family: $bodyFont;
}
.page-heading {
  color: $accentColor2;
  font-family: $bodyFont;
  font-size: 300%;
}
.post-list{
  font-family: $bodyFont;
  font-size: 150%;
}
.post-list li{
  font-family: $bodyFont;
  font-size: 90%;
}
.post-list h2{
  font-size: 150%;
}
a{
  color: $accentColor3;
}
a:visited {
  color: $accentColor4;
}
a:hover {
  color: $accentColor5;
}